<template>
<div>

    <div id="grid">

        <div v-for=" (item, index) in dogCategories()" :key="item.id">
            <router-link :to="{name: 'about', params: { url: item.url, dogName: item.dogName }}"> <img class="grid_img" v-bind:src="item.url" /></router-link>
        </div>


    </div>

</div>
</template>

<script lang="ts">
import Vue from 'vue';
import jQuery from "jquery";

export default Vue.extend({
    name: 'Category',
    props: {
        category: String
    },

    data() {
        return {
            selected: String
        }
    },

    methods: {
        dogCategories(): {id: number, url: string, dogName: string} [] {
            let array: {id: number, url: string, dogName: string} [] = [];
            let str = "https://dog.ceo/api/breed/" + this.category.toLowerCase() + "/images";
            jQuery.ajaxSetup({async: false});
            jQuery.get(str, function(data: any): void {
                let links: string[] = data.message;
                for (var i = 0; i < links.length; i++) {
                    let splited: string[] = links[i].split('/'); //split the url into bits, the 4th part contains the breed name
                    //array.push({id: i, url: links[i], dogName: s[4] + '/' + s[5].replace('.jpg','')});
                    array.push({id: i, url: links[i], dogName: splited[4].replace('-', ' ')});
                    if (i > 10) break; //exit loop because there can be a lot of images
                }
            });
            return array;
        }
    }
});
</script>

<style>
#grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: repeat(4, 25vw);
    grid-gap: 1.5vw;
}

.grid_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
</style>
