<template>
  <div id="app">
      <navBar/>
      <router-view :key="$route.fullPath"/>
      <sitemap/>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import navBar from '@/components/navBar.vue';
import sitemap from '@/components/sitemap.vue';

export default Vue.extend({
  name: 'app',
  components: {
  'navBar': navBar,
  'sitemap': sitemap
  }
});
</script>

<style>
#app {
font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  text-decoration: none;
  color: #2c3e50;
  }
  
  body {
  margin: 0px; 
  padding: 0px;
  font-size: 1.3vw;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
